<div id="<?$_name?>">
	<h5><?$voucher_type?> Voucher  - <?$voucher_number?></h5>
	<b>Voucher on date <?$created_at?></b><br/>
	<table width="100%" class="ui-widget">
		<tr>
			<th>Ledger</th><th>Amount DR</th><th>Amount CR</th>
		</tr>
<?rows?>
<?row?>
	<tr>
	<td class="ui-widget-content"><?$ledger?></td>
	<td class="ui-widget-content"><?AmountDR?>0<?/?></td>
	<td class="ui-widget-content"><?AmountCR?>0<?/?></td>
	</tr>
<?/row?>
<?/rows?>
</table><br/>
<p><b>Narration:</b> <?$voucher_narration?></p>
<?$Content?>
<div class="atk-paginator"><?paginator?><?/?></div>
</div>