<div id="<?$_name?>">
	
	<p> <b>Welcome </b> <?$fullname?></p>
	<p> <b>Sponsor </b> <?sponsor_name?>Sponsor Here<?/?></p>
	<p> <b>Joining Kit </b> <?kit?>Kit Here<?/?></p>
	<p> <b>Joined On </b> <?JoiningDate?>Joining Date<?/?></p>
	<h3  align="center">Point details</h3>
	<table class='ui-widget striped' width='100%'>
		<tr class='ui-widget-header'>
			<th>#</th>
			<th colspan='2'>PV</th>
			<th colspan='2'>Upgraded IDS</th>
			<th colspan='2'>New Joinings</th>
		</tr>
		<tr class="ui-widget-header">
			<th>&nbsp;</th>
			<th>A</th>
			<th>B</th>

			<th>A</th>
			<th>B</th>

			<th>A</th>
			<th>B</th>
		</tr>
		<tr class="ui-widget-content">
			<td>Session</td>
			<td><?session_pv_a?>-<?/?></td>
			<td><?session_pv_b?>-<?/?></td>
			<td><?session_upgrade_a?>-<?/?></td>
			<td><?session_upgrade_b?>-<?/?></td>
			<td><?session_newjoinings_a?>-<?/?></td>
			<td><?session_newjoinings_b?>-<?/?></td>
		</tr>
		<tr class="ui-widget-content">
			<td>Week</td>
			<td><?week_pv_a?>-<?/?></td>
			<td><?week_pv_b?>-<?/?></td>
			<td><?week_upgrade_a?>-<?/?></td>
			<td><?week_upgrade_b?>-<?/?></td>
			<td><?week_newjoinings_a?>-<?/?></td>
			<td><?week_newjoinings_b?>-<?/?></td>
		</tr>
		<tr class="ui-widget-content">
			<td>Total Joinings</td>
			<td><?total_pv_a?>-<?/?></td>
			<td><?total_pv_b?>-<?/?></td>
			<td><?total_upgrade_a?>-<?/?></td>
			<td><?total_upgrade_b?>-<?/?></td>
			<td><?total_newjoinings_a?>-<?/?></td>
			<td><?total_newjoinings_b?>-<?/?></td>
		</tr>
	</table>

	<h3> Your Repurchase income (including self and downline)</h3>
	INR <?ClosingBV?>0.00<?/ClosingBV?> /-


</div>